@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html * {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 2.5rem;
  -webkit-text-decoration: underline solid #fadba4;
          text-decoration: underline solid #fadba4;
}

.btn-success {
  background-color: #79bea0;
  border-color: transparent;
}

.btn-info {
  background-color: #79c5dd;
  border-color: transparent;
}

.btn-warning {
  background-color: #fadba4 !important;
  border-color: transparent !important;
}

.btn-danger {
  color: #fff;
  border-color: transparent !important;
  background-color: #e95a68eb !important;
}

.content.container {
  padding-top: 40px;
  padding-bottom: 40px;
}

label {
  min-width: 130px;
}

@media (max-width: 767px) {
  label {
    font-size: medium !important;
  }
}

input {
  border: none;
  border-bottom: 1px solid black;
  width: 70%;
}

@media (max-width: 767px) {
  input {
    width: 100%;
  }
}

input:focus {
  background-color: white;
}

.btn-warning {
  color: gray;
  background-color: #f0ad4e;
  border-color: #eea236;
}

.btn-warning:hover {
  color: gray;
  background-color: #ec971f;
  border-color: #d58512;
}

a, button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a:focus, a:hover, a {
  color: initial;
  text-decoration: none;
}

img {
  width: 100% !important;
  height: auto !important;
}

body {
  background-image: url(/images/roof.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  background-color: #ffffffe3;
}

.container.content {
  padding: 30px;
}

.rooms .measure, .rooms h2 {
  color: gray;
}

.rooms .no-results {
  padding: 60px;
  font-size: x-large;
  color: gray;
  font-weight: 100;
  font-style: italic;
}

.rooms span.measure {
  font-size: smaller;
}

.room {
  background-color: white;
  padding: 50px;
  margin-bottom: 30px;
}

.room a {
  display: initial;
}

.room .made {
  padding-top: 30px;
}

.room .made a {
  position: relative;
  display: inline-block;
  margin: 15px 25px;
  outline: none;
  color: gray;
  text-decoration: none;
  letter-spacing: 1px;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  font-size: 1em;
}

.room .made a:hover,
.room .made a:focus {
  outline: none;
}

.room .cl-effect-6 a {
  margin: 0px 7px;
  padding: 2px 5px;
}

.room .cl-effect-6 a::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #79bea0;
  content: '';
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
}

.room .cl-effect-6 a::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background: #79bea0;
  content: '';
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}

.room .cl-effect-6 a:hover::before {
  top: 100%;
  opacity: 1;
}

.room .cl-effect-6 a:hover::after {
  height: 100%;
}

.room.row {
  padding: inherit;
}

.room .title {
  padding-top: 15px;
}

.room .info {
  padding-top: 0px !important;
  padding-bottom: 15px;
}

.room .view {
  margin-top: 30px;
}

.room .view a {
  border: 1px solid #a09f777a;
  padding: 10px;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #ffffffe3;
  color: gray;
}

.room .image {
  width: 100%;
  height: 250px;
  background-position: center center;
  background-repeat: no-repeat;
  background-position: center;
}

.room .image div {
  height: 100%;
}

.room span.measure {
  padding-right: 20px;
  float: left;
}

.room.panel.shadow {
  width: 100%;
}

.row.privacity {
  border: 0.5px solid gray;
  margin: 2rem;
}

.row.privacity .input-switch label {
  min-width: 45px;
  font-size: large !important;
}

@media (max-width: 767px) {
  .row.privacity {
    margin: 1rem;
    padding: 10px;
  }
  .row.privacity .input-switch label {
    font-size: medium !important;
  }
  .row.privacity b {
    font-size: medium !important;
  }
}

.header {
  height: 202px;
  overflow: hidden;
}

.header img {
  /* padding: 10px; */
  z-index: -1;
  /* top: 25px; */
  position: fixed;
}

.header .home-header {
  z-index: 2;
  position: absolute;
  top: 100px;
  background-color: white;
  min-width: 330px;
  padding: 23px;
  color: gray;
  margin-left: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .home-header a {
  font-size: x-large;
  color: gray;
}

.element:nth-child(odd) {
  background: white;
}

.element:nth-child(even) {
  background: inherit;
}

.element div,
.element .main-information div {
  padding: 7px;
}

.form-preview-image {
  text-align: center;
  /* border: 1px solid grey; */
  margin: 10px;
  background-color: #ffffff9e;
}

@media (max-width: 767px) {
  .form-preview-image {
    margin: 0px;
  }
  .form-preview-image > div {
    max-height: 120px;
  }
}

.form-image div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shadow:hover {
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

div#item-list {
  width: 100%;
  background-color: white;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 100px;
}

@media (max-width: 767px) {
  div#item-list * {
    font-size: medium !important;
  }
}

@media (max-width: 767px) {
  div#item-list .working-with {
    font-size: small !important;
  }
}

div#item-list .item {
  width: 100%;
}

div#item-list .item .name div,
div#item-list .item .link div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

div#item-list .item .price-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  div#item-list .item .main-information > div {
    padding: 0px;
  }
}

div#item-list .panel-heading {
  background-color: #ffffffe3 !important;
  font-size: x-large;
}

div#item-list .panel-heading {
  color: #515151 !important;
  padding: 10px;
  background-color: #c5bea757 !important;
}

div#item-list .store {
  font-style: italic;
  font-size: large;
}

div#item-list .panel-warning {
  border-color: #c3bb9359 !important;
}

div#item-list .center-values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div#item-list .price .col-sm-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-size: xx-large;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div#item-list .body-item {
  font-size: x-large;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div#item-list .body-item div {
  padding: 8px;
  color: #6b6464;
}

div#item-list .body-item .row {
  margin-right: 20px;
}

div#item-list .body-item .row a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div#item-list img {
  border: 1px solid #c3bb9359;
}

.main-information {
  border: 4px solid white;
  background: white;
}

.main-information label {
  font-size: larger;
  color: gray;
}

.main-information input {
  background-color: transparent;
}

.main-information > div {
  padding: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.main-information .row div {
  color: #686565;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: large;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.main-information .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-information .price div::after {
  content: '   €';
}

.measure div::after {
  content: '   cm';
}

.measures input {
  text-align: center;
}

.action-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.terms.col-sm-12 {
  -webkit-text-decoration: underline solid #fadba4;
          text-decoration: underline solid #fadba4;
  color: gray;
  font-style: oblique;
  font-size: large;
}

.user-menu {
  position: fixed;
  background: white;
  width: 100%;
  z-index: 99;
  padding: 10px;
  text-align: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: gray;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-menu a {
  color: gray;
}

.user-menu .home a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-menu .home img {
  height: 70px !important;
  width: auto !important;
  padding-right: 15px;
}

.user-menu .account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-menu .account a {
  padding-left: 5px;
  padding-right: 5px;
}

button.btn.btn-danger {
  margin-bottom: 7rem;
}

.field {
  padding-left: 90px !important;
  padding-right: 90px !important;
}

[name="registration_form"] ul li {
  list-style: none;
  color: #e95a68eb;
  font-size: 1rem;
}

.field,
[name="registration_form"] > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  font-size: 1.3rem;
  color: gray;
}

[name="registration_form"] > div input,
.field input {
  border: none;
  border-bottom: 1px solid gray;
  border-radius: unset;
  background-color: transparent;
  margin-left: 60px;
}

.remember {
  margin-top: 60px;
}

.remember label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 13px;
  font-size: 1.3rem;
  float: left;
  color: gray;
  padding-left: 90px;
  padding-right: 50px;
  /* justify-content: flex-start; */
}

input[type="checkbox"] {
  width: auto;
  margin-left: 20px;
}

button.btn.btn-lg.btn-warning {
  clear: both;
}

.action-button div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10rem;
}

input#registration_form_agreeTerms {
  margin-left: 10px;
  margin-bottom: 5px;
}

.action-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* padding-left: 15px; */
  float: left;
  margin-left: 0px;
}

.footer {
  background-color: white;
  color: gray;
  width: 100%;
  padding: 10px;
}

.footer .copy {
  text-align: center;
}

.footer .info-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .info-links div a {
  padding: 10px;
  color: gray;
}

.new-form .btn-warning.edit,
.new-form button#room_save,
.new-form button.delete,
.edit-form .btn-warning.edit,
.edit-form button#room_save,
.edit-form button.delete {
  position: absolute;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: auto;
}

.new-form button.btn.btn-danger.delete,
.edit-form button.btn.btn-danger.delete {
  margin: 0;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  top: 210px;
  margin-right: 10%;
  margin-left: 10%;
}

input:disabled {
  border: none;
  background: #8080801c;
}

div#user div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-size: larger;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: gray;
  padding: 10px;
  /* border-bottom: 1px solid gray; */
}

div#user input {
  border-bottom: 1px solid gray;
  padding-left: 25px !important;
  padding: 10px;
  background-color: transparent;
}

div#user button#user_save {
  font-size: large;
  padding-right: 35px;
  padding-left: 35px;
  margin-top: 40px;
}

@media (max-width: 767px) {
  label {
    min-width: 99px;
  }
  div#user > div input,
  [name="registration_form"] > div input,
  .field input {
    margin-left: 0px;
    width: 100%;
    font-size: medium;
    padding-left: 10px !important;
  }
  div#user > div,
  .field,
  [name="registration_form"] > div {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .field {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .remember label {
    padding-left: 0px;
  }
  .content.container.panel.panel-body {
    min-height: 800px !important;
  }
  .user-menu {
    padding-right: 10px;
    padding-left: 10px;
  }
  .user-menu .home img {
    padding-right: 15px;
  }
  .user-menu .account {
    font-size: small;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home-header {
    top: 120px !important;
    min-width: 260px !important;
  }
  .home-header h1 {
    font-size: x-large !important;
  }
  .home-header a {
    font-size: large !important;
    color: gray;
  }
}

.contact .row {
  /* width: 80%; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
}

@media (max-width: 767px) {
  .contact .row {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.contact a.btn.btn-primary.btn-warning {
  padding: 10px;
  font-size: large;
  padding-left: 60px;
  padding-right: 60px;
}

.contact form#contact-form {
  margin-bottom: 50px;
}

.contact .form-control {
  background-color: transparent;
  border: transparent;
  border-bottom: 1px solid black;
  border-radius: 0;
}

.contact input {
  margin-bottom: 25px;
}

.contact .intro {
  margin-top: 30px;
  margin-bottom: 60px !important;
}

.contact .md-form.agree label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact input#agree {
  margin-bottom: 0px;
}

.contact .md-form.agree a {
  padding: 20px;
  -webkit-text-decoration: underline solid #fadba4;
          text-decoration: underline solid #fadba4;
}

.contact .alert-danger {
  top: 0px;
}

.cookies .buttons {
  width: 100%;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cookies .buttons .banner-retail .buttons .button {
  border: grey solid 0.1px;
  padding: 10px;
  min-width: 140px;
  text-align: center;
  background: white;
  cursor: pointer;
  color: grey;
}

.cookies .btn.btn-course {
  background: white;
  border-radius: initial;
  color: #79bea0;
  font-size: x-large;
}

.cookies .banner-retail .buttons .button {
  border: grey solid 0.1px;
  padding: 10px;
  min-width: 140px;
  text-align: center;
  background: white;
  cursor: pointer;
  color: grey;
}

.cookies .banner-retail {
  display: block;
  position: fixed;
  top: 13%;
  margin: 13%;
  /* min-height: 300px; */
  opacity: 1;
  background: #79bea0db;
  border: #fff solid 2px;
  padding: 25px 90px;
  clear: both;
  width: auto;
  color: white;
  z-index: 999;
  right: 50%;
  margin-right: -350px;
  width: 700px;
}

.cookies .innerBanner .text {
  text-align: center;
}

.cookies .innerBanner .text p {
  margin: 10px 0;
}

.cookies .banner-retail .button:hover {
  background: gray !important;
  color: white;
}

.cookies .buttons {
  padding-top: 10px;
}

.cookies .buttons div {
  margin: 20px;
}

.cookies .hola {
  font-weight: bold;
  font-size: 25px;
  padding-right: 5px;
}

@media (max-width: 767px) {
  .cookies .banner-retail {
    width: 100%;
    margin: 0;
    right: 0;
    padding-top: 10px;
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 10px;
  }
  .cookies .innerBanner {
    margin-right: -38px;
    margin-left: -34px;
  }
  .cookies .btn.btn-course {
    font-size: large !important;
  }
  .cookies p {
    font-size: larger;
  }
  .cookies .btn.btn-course {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 7px;
  }
}

.room-filters {
  background-color: transparent;
  margin-bottom: 40px;
}

.room-filters .typo, .room-filters .list a {
  font-size: 1.4rem;
  color: #585858;
  text-decoration: none;
}

.room-filters .typo option, .room-filters .list a option {
  font-size: 30px;
}

.room-filters .transition {
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.room-filters body {
  text-align: center;
}

.room-filters .wrapper {
  padding-top: 0px;
  height: 2vh;
  font-size: 1.4rem;
}

.room-filters .list__ul {
  background-color: #ffffffed;
  min-width: 250px;
  padding: 5px !important;
  padding-left: 25px !important;
}

.room-filters .list {
  display: inline-block;
  position: relative;
  margin-left: 6px;
}

.room-filters .list ul {
  text-align: left;
  position: absolute;
  padding: 0;
  top: 0;
  z-index: 1;
  left: 0;
  display: none;
}

.room-filters .list ul .active {
  display: block;
}

.room-filters .list li {
  list-style: none;
}

.room-filters .list li:first-child a {
  color: gray;
}

.room-filters .list a {
  -webkit-transition: all .4s;
  transition: all .4s;
  color: gray;
  position: relative;
}

.room-filters .list a:after {
  position: absolute;
  content: '';
  height: 1px;
  width: 0;
  left: 0;
  background: #b3b3b3;
  bottom: 0;
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

.room-filters .list a:hover {
  cursor: pointer;
  color: #b3b3b3;
}

.room-filters .list a:hover:after {
  width: 100%;
}

.room-filters select {
  display: inline;
  border: 0;
  width: auto;
  margin-left: 10px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-bottom: 2px solid gray;
  color: gray;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.room-filters select:hover {
  cursor: pointer;
}

.room-filters select option {
  border: 0;
  border-bottom: 1px solid gray;
  padding: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.room-filters .placeholder {
  border-bottom: 1px solid;
  cursor: pointer;
}

.room-filters .placeholder:hover {
  color: #b3b3b3;
}
/*# sourceMappingURL=style_sass.css.map */