$background-general: #c3bb9359;

.room {
    background-color: white;
    margin-top: 25px;
    padding: 30px;

    &.row {
        padding: inherit;
    }

    .view {
        margin-top: 30px;

        a {
            border: 1px solid #a09f777a;
            padding: 10px;
            text-align: center;
            width: fit-content;
            padding-left: 40px;
            padding-right: 40px;
            background-color: $background-general;
            color: black;
        }
    }

    .image {
        height: 270px;
        width: 100%;
        overflow: hidden;
    }
}

.container {
    background-color: $background-general;
}

img {
    width: 100%;
    height: auto;
}


.header {
    height: 300px;
    overflow: hidden;

    img{
        padding: 10px;
        z-index: -1;
    }

    h1 {
        z-index: 2;
        position: absolute;
        top: 195px;
        background-color: white;
        padding: 23px;
        padding-right: 15%;
        color: #c5bea7;
        margin-left: -14px;
    }
}

label {
    min-width: 100px;
}

.element:nth-child(odd) {
    background: white;
}
.element:nth-child(even) {
    background: inherit;
}

.element div,
.main-information div {
    padding: 7px
}

.form-preview-image {
    text-align: center;
  /* border: 1px solid grey; */
  margin: 10px;
  background-color: #ffffff9e;
}

.form-image div {
    display: flex;
}

div#item-list {
    width: 100%;
    background-color: white;
    padding: 20px;
    margin-bottom: 30px;

    .panel-heading {
        background-color: $background-general !important;
    }
}

.panel-heading {
    color: #515151 !important;
}

.panel-warning {
    border-color: #c3bb9359 !important;
}

button#room_save {
    position: absolute;
    text-align: center;
    display: flex;
    left: 39.9%;
}

a.btn.btn-warning {
    position: absolute;
    left: 45.1%;
}

form button.btn.btn-danger {
    position: absolute;
    left: 52.7%;
}

button.btn.btn-danger {
    margin-bottom: 7rem;
}

button.btn.btn-danger,
a.btn.btn-warning,
button#room_save {
  width: 8%;
}

input {
    border: none;
    border-bottom: 1px solid black;
    // 
    
}

.main-information {
    input {
        background-color: transparent;
    }
}