$background-general: #c3bb9359;

.content.container {
    padding-top: 40px;
}

label {
    min-width: 100px;
}

input {
    border: none;
    border-bottom: 1px solid black;
    width:70%;    
}

input:focus {
    background-color: white;
}

.container {

    &.content {
        padding-top: 40px;
    }

    background-color: $background-general;
}

.rooms {
    .measure, h2 {
        color: gray;
    }
    
    .measure {
        font-size: 1.5rem;
        
    }
}

.room {
    background-color: white;
    padding: 30px;
    margin-bottom: 50px;

    &.row {
        padding: inherit;
    }

    .view {
        margin-top: 30px;

        a {
            border: 1px solid #a09f777a;
            padding: 10px;
            text-align: center;
            width: fit-content;
            padding-left: 40px;
            padding-right: 40px;
            background-color: $background-general;
            color: gray;
        }
    }

    .image {
        height: 270px;
        width: 100%;
        overflow: hidden;
    }
}

img {
    width: 100%;
    height: auto;
}

.header {
    height: 300px;
    overflow: hidden;

    img{
        padding: 10px;
        z-index: -1;
    }

    h1 {
        z-index: 2;
        position: absolute;
        top: 195px;
        background-color: white;
        padding: 23px;
        padding-right: 15%;
        color: #c5bea7;
        margin-left: -14px;
    }
}

.element{

    &:nth-child(odd) {
    background: white;
    }

    &:nth-child(even) {
        background: inherit;
    }

    div,
    .main-information div {
        padding: 7px
    }
}

.form-preview-image {
    text-align: center;
  /* border: 1px solid grey; */
  margin: 10px;
  background-color: #ffffff9e;
}

.form-image div {
    display: flex;
}

div#item-list {
    width: 100%;
    background-color: white;
    padding: 20px;
    margin-bottom: 30px;

    .panel-heading {
        background-color: $background-general !important;
    }

    .panel-heading {
        color: #515151 !important;
    }
    
    .panel-warning {
        border-color: #c3bb9359 !important;
    }

    .panel-body.main-information > div > div:nth-child(2),
    .panel-body.main-information > div:nth-child(2) {
        display: flex;
    }
}

.main-information {
    border: 4px solid white;
    padding: 25px;

    input {
        background-color: transparent;
    }

    div {
        padding: 8px;
    }

    

    .price div::after {
        content: '   €';
    }
}

.measure div::after {
    content: '   cm';
}

button#room_save {
    position: absolute;
    text-align: center;
    display: flex;
    left: 39.9%;
}

a.btn.btn-warning {
    position: absolute;
    left: 45.1%;
}

form button.btn.btn-danger {
    position: absolute;
    left: 52.7%;
}

button.btn.btn-danger {
    margin-bottom: 7rem;
}

button.btn.btn-danger,
a.btn.btn-warning,
button#room_save {
  width: 8%;
}

