@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html * {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 2.5rem;
  -webkit-text-decoration: underline solid #fadba4;
          text-decoration: underline solid #fadba4;
}

.btn-success {
  background-color: #79bea0;
  border-color: transparent;
}

.btn-info {
  background-color: #79c5dd;
  border-color: transparent;
}

.btn-warning {
  background-color: #fadba4 !important;
  border-color: transparent !important;
}

.btn-danger {
  color: #fff;
  border-color: transparent !important;
  background-color: #e95a68eb !important;
}

.content.container {
  padding-top: 40px;
  padding-bottom: 40px;
}

label {
  min-width: 130px;
}

input {
  border: none;
  border-bottom: 1px solid black;
  width: 70%;
}

input:focus {
  background-color: white;
}

.btn-warning {
  color: gray;
  background-color: #f0ad4e;
  border-color: #eea236;
}

.btn-warning:hover {
  color: gray;
  background-color: #ec971f;
  border-color: #d58512;
}

a, button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a:focus, a:hover, a {
  color: initial;
  text-decoration: none;
}

img {
  width: 100% !important;
  height: auto !important;
}

body {
  background-image: url(http://www.homerefactor.com/images/roof.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  background-color: #ffffffe3;
}

.container.content {
  padding: 30px;
}

.rooms .measure, .rooms h2 {
  color: gray;
}

.rooms .no-results {
  padding: 60px;
  font-size: x-large;
  color: gray;
  font-weight: 100;
  font-style: italic;
}

.rooms span.measure {
  font-size: smaller;
}

.room {
  background-color: white;
  padding: 50px;
  margin-bottom: 30px;
}

.room.row {
  padding: inherit;
}

.room .title, .room .info {
  padding-top: 15px;
}

.room .view {
  margin-top: 30px;
}

.room .view a {
  border: 1px solid #a09f777a;
  padding: 10px;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #ffffffe3;
  color: gray;
}

.room .image {
  width: 100%;
  height: 250px;
  background-position: center center;
  background-repeat: no-repeat;
  background-position: center;
}

.room .image div {
  height: 100%;
}

.room span.measure {
  width: 33%;
  float: left;
}

.room.panel.shadow {
  width: 100%;
}

.header {
  height: 202px;
  overflow: hidden;
}

.header img {
  /* padding: 10px; */
  z-index: -1;
  /* top: 25px; */
  position: fixed;
}

.header .home-header {
  z-index: 2;
  position: absolute;
  top: 100px;
  background-color: white;
  min-width: 330px;
  padding: 23px;
  color: gray;
  margin-left: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .home-header a {
  font-size: x-large;
  color: gray;
}

.element:nth-child(odd) {
  background: white;
}

.element:nth-child(even) {
  background: inherit;
}

.element div,
.element .main-information div {
  padding: 7px;
}

.form-preview-image {
  text-align: center;
  /* border: 1px solid grey; */
  margin: 10px;
  background-color: #ffffff9e;
}

.form-image div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shadow:hover {
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

div#item-list {
  width: 100%;
  background-color: white;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 100px;
}

div#item-list .item {
  width: 100%;
}

div#item-list .item .name div,
div#item-list .item .link div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

div#item-list .panel-heading {
  background-color: #ffffffe3 !important;
  font-size: x-large;
}

div#item-list .panel-heading {
  color: #515151 !important;
  padding: 10px;
  background-color: #c5bea757 !important;
}

div#item-list .store {
  font-style: italic;
  font-size: large;
}

div#item-list .panel-warning {
  border-color: #c3bb9359 !important;
}

div#item-list .row.body-item div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div#item-list .center-values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div#item-list .price .col-sm-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-size: xx-large;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div#item-list .main-information {
  margin-right: 20px;
}

div#item-list .body-item {
  font-size: x-large;
}

div#item-list .body-item div {
  padding: 8px;
  color: #6b6464;
}

div#item-list .body-item .row {
  margin-right: 20px;
}

div#item-list .body-item .row a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div#item-list img {
  border: 1px solid #c3bb9359;
  max-height: 250px;
  height: 130px !important;
  width: auto !important;
}

.main-information {
  border: 4px solid white;
  background: white;
}

.main-information label {
  font-size: larger;
  color: gray;
}

.main-information input {
  background-color: transparent;
}

.main-information > div {
  padding: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.main-information .row div {
  color: #686565;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: large;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.main-information .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-information .price div::after {
  content: '   €';
}

.measure div::after {
  content: '   cm';
}

.measures input {
  text-align: center;
}

.action-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.user-menu {
  position: fixed;
  background: white;
  width: 100%;
  z-index: 99;
  padding: 10px;
  text-align: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: gray;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-menu a {
  color: gray;
}

.user-menu .home a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-menu .home img {
  height: 70px !important;
  width: auto !important;
  padding-right: 15px;
}

.user-menu .account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-menu .account a {
  padding-left: 5px;
  padding-right: 5px;
}

button.btn.btn-danger {
  margin-bottom: 7rem;
}

.field {
  padding-left: 90px !important;
  padding-right: 90px !important;
}

.field,
[name="registration_form"] > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  font-size: 1.3rem;
  color: gray;
}

[name="registration_form"] > div input,
.field input {
  border: none;
  border-bottom: 1px solid gray;
  border-radius: unset;
  background-color: transparent;
  margin-left: 60px;
}

.remember {
  margin-top: 60px;
}

.remember label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 13px;
  font-size: 1.3rem;
  float: left;
  color: gray;
  padding-left: 90px;
  padding-right: 50px;
  /* justify-content: flex-start; */
}

input[type="checkbox"] {
  width: auto;
  margin-left: 20px;
}

button.btn.btn-lg.btn-warning {
  clear: both;
}

.action-button div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 60px;
}

input#registration_form_agreeTerms {
  margin-left: 0px;
}

.action-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* padding-left: 15px; */
  float: left;
  margin-left: 50px;
}

.footer {
  background-color: white;
  color: gray;
  text-align: center;
  width: 100%;
  padding: 10px;
}

.new-form .btn-warning.edit,
.new-form button#room_save,
.new-form button.delete,
.edit-form .btn-warning.edit,
.edit-form button#room_save,
.edit-form button.delete {
  position: absolute;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: auto;
}

.new-form button.btn.btn-danger.delete,
.edit-form button.btn.btn-danger.delete {
  margin: 0;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  top: 210px;
  margin-right: 10%;
  margin-left: 10%;
}

input:disabled {
  border: none;
  background: #8080801c;
}

div#user div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-size: larger;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: gray;
  padding: 10px;
  /* border-bottom: 1px solid gray; */
}

div#user input {
  border-bottom: 1px solid gray;
  padding-left: 25px !important;
  padding: 10px;
  background-color: transparent;
}

div#user button#user_save {
  font-size: large;
  padding-right: 35px;
  padding-left: 35px;
  margin-top: 40px;
}

@media (max-width: 767px) {
  label {
    min-width: 99px;
  }
  div#user > div input,
  [name="registration_form"] > div input,
  .field input {
    margin-left: 0px;
    width: 100%;
    font-size: medium;
    padding-left: 10px !important;
  }
  div#user > div,
  .field,
  [name="registration_form"] > div {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .field {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .remember label {
    padding-left: 0px;
  }
  .content.container.panel.panel-body {
    min-height: 800px !important;
  }
  .user-menu {
    padding-right: 10px;
    padding-left: 10px;
  }
  .user-menu .home img {
    padding-right: 15px;
  }
  .user-menu .account {
    font-size: small;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home-header {
    top: 120px !important;
    min-width: 260px !important;
  }
  .home-header h1 {
    font-size: x-large !important;
  }
  .home-header a {
    font-size: large !important;
    color: gray;
  }
}
/*# sourceMappingURL=style_sass.css.map */