#AuthName "Dialog prompt"
#AuthType Basic
#AuthUserFile /var/www/refactoring-home/.htpasswd
#Require valid-user
RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.homerefactor.com/$1 [R,L]