{% extends 'base.html.twig' %}

{% block title %}Edit Room{% endblock %}

{% block body %}
    <div class="action-buttons">
        {{ include('room/_form.html.twig', {'button_label': 'Update'}) }}
        {{ include('room/_delete_form.html.twig') }}
    </div>

    <a href="{{ path('room_index') }}">back to list</a>

<script>

jQuery(document).ready(function() {

var $collectionHolder;

// setup an "add a tag" link
var $addTagButton = $('<button type="button" class="add_tag_link">Add a tag</button>');
var $newLinkLi = $('.item-list').append($addTagButton);


    // Get the ul that holds the collection of tags
    $collectionHolder = $('ul.tags');

    // add the "add a tag" anchor and li to the tags ul
    $collectionHolder.append($newLinkLi);

    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    $collectionHolder.data('index', $collectionHolder.find('input').length);

    $addTagButton.on('click', function(e) {
        // add a new tag form (see next code block)
        addTagForm($collectionHolder, $newLinkLi);
    });

// Get the ul that holds the collection of tags

var roomName = $('.item-list .item-id');

console.log(roomName);

// add a delete link to all of the existing tag form li elements
roomName.find('.item-list').each(function() {
    addTagFormDeleteLink($(this));
});

// ... the rest of the block from above
});

function addTagForm() {
    // ...

    // add a delete link to the new form
    addTagFormDeleteLink($newFormLi);
}

function addTagFormDeleteLink($tagFormLi) {
    var $removeFormButton = $('<button type="button">Delete this tag</button>');
    $tagFormLi.append($removeFormButton);

    $removeFormButton.on('click', function(e) {
        // remove the li for the tag form
        $tagFormLi.remove();
    });
}

function addTagForm($collectionHolder, $newLinkLi) {
    // Get the data-prototype explained earlier
    var prototype = $collectionHolder.data('prototype');

    // get the new index
    var index = $collectionHolder.data('index');

    var newForm = prototype;
    // You need this only if you didn't set 'label' => false in your tags field in TaskType
    // Replace '__name__label__' in the prototype's HTML to
    // instead be a number based on how many items we have
    // newForm = newForm.replace(/__name__label__/g, index);

    // Replace '__name__' in the prototype's HTML to
    // instead be a number based on how many items we have
    <!-- newForm = newForm.replace(/__name__/g, index); -->

    // increase the index with one for the next item
    $collectionHolder.data('index', index + 1);

    // Display the form in the page in an li, before the "Add a tag" link li
    var $newFormLi = $('<div><label class="required"></label><div id="room2_Items_0"><div><label for="room2_Items_0_id" class="required">Id</label><input type="number" id="room2_Items_0_id" name="room2[Items][0][id]" required="required" class="item-id" value="1"></div><div><label for="room2_Items_0_Name">Name</label><input type="text" id="room2_Items_0_Name" name="room2[Items][0][Name]" maxlength="255" value=""></div><div><label for="room2_Items_0_Image">Image</label><input type="text" id="room2_Items_0_Image" name="room2[Items][0][Image]" maxlength="255"></div><div><label for="room2_Items_0_Price">Price</label><input type="text" id="room2_Items_0_Price" name="room2[Items][0][Price]"></div><div><label for="room2_Items_0_Link">Link</label><input type="text" id="room2_Items_0_Link" name="room2[Items][0][Link]" maxlength="600" value=""></div></div></div>').append(newForm);
    $newLinkLi.before($newFormLi);
}

</script>
    
{% endblock %}

